{% extends 'base.html.twig' %}

{% block title %}
    Coaching diététique
{% endblock %}
{% block mainTitle %}
    Coaching diététique
{% endblock %}
{% block breadcrumbFirst %}<strong><a>> Coaching diététique</a></strong>{% endblock %}
{% block content %}

    <p>
        Lorsque l’on souhaite perdre du poids ou tout simplement modifier ses habitudes alimentaires pour être en bonne santé cela peut prendre du temps et doit faire l’objet
        d’un apprentissage régulier. Le suivi hebdomadaire va donc vous permettre non seulement d’entretenir votre motivation mais aussi d’acquérir les bons réflexes
        tout au long de votre parcours. Vous pourrez ainsi anticiper vos invitations, restaurants de manière plus judicieuse, poser vos questions au fur et à mesure
        des visites et faire évoluer votre plan d’action celui-ci étant propre à chacun. Le but est d’étoffer un maximum vos connaissances en nutrition et de gagner en autonomie.
    </p>

    <img src="/images/coachingdietetique.jpg" style="max-width: 840px;"/>

    <h2>1ère consultation</h2>
    <p>
        Lors de cette consultation qui durera 1h à 1h30, un bilan diététique complet est effectué : analyse des antécédents médicaux, traitements en cours,
        habitudes alimentaires et niveau d’activité physique. Celui-ci sera complété par l’analyse de votre semainier, un bilan impédancemétrique ainsi que
        des mesures anthropométriques. Enfin, nous poserons ensemble les différents objectifs à mettre en place correspondant à votre plan d’actions thérapeutiques.
        Vous recevrez également un plan diététique personnalisé afin de vous aider dans la mise en place du programme.
    </p>
    <h2>Consultations de suivi</h2>
    <p>
        Le nombre de consultations de suivis dépend de votre objectif mais aussi de votre investissement personnel dans votre rééducation alimentaire.
        Plus vite vous obtiendrez les bons reflexes et plus vite vous deviendrez autonome. Chaque semaine nous faisons le point ensemble pendant 30min sur la semaine écoulée
        et analysons les difficultés rencontrées. Le bilan impédancemétrique ainsi que les mesures anthropométriques sont reprises chaque semaine pour entretenir votre motivation.
        Les objectifs à venir sont mis en place et d’autres fiches techniques et exercices vous seront proposés (menus, recettes, lecture des étiquettes nutritionnelles, ...).
    </p>
    <h2>Bilans mensuels</h2>
    <p>
        Ils permettent tout simplement de vérifier le maintien des bonnes habitudes alimentaires. Ils sont obligatoires pendant minimum un an. Les études montrent aujourd’hui
        que dans 90% des cas il y a une reprise de poids dans l’année suivant la mise en place d’un régime. C’est pourquoi un rééquilibrage alimentaire et un suivi régulier
        sont nécessaires au bon maintien du poids d’équilibre.
    </p>
    <hr>
    <h2>Le bilan impédancemétrique</h2>
    <p style="float: left;width: 73%;">
        Ce bilan permet d’analyser non seulement votre poids mais aussi le taux de masse graisseuse, la masse d’eau ainsi que la masse musculaire.
        On pourra alors modifier de manière plus précise les habitudes alimentaires et activité physique pour lutter contre la rétention d’eau, la fonte musculaire
        et diminuer le taux de masse graisseuse viscérale.
    </p>
    <img src="/images/balance.png" style="float:right;max-width:215px;">

    <div style="clear:both;"></div>
{% endblock %}
