{% extends 'base.html.twig' %}

{% block title %}
    Diététique thérapeutique
{% endblock %}
{% block mainTitle %}
    Diététique thérapeutique
{% endblock %}
{% block description %}explication du lien entre l'alimentation et certaines pathologies{% endblock %}
{% block keywords %}diabète - cholestérol - maladies cardiovasculaires - hypertension artérielle{% endblock %}


{% block breadcrumbFirst %}<strong><a>> Diététique thérapeutique</a></strong>{% endblock %}
{% block content %}
    <h2>Alimentation et diabète</h2>
    <p>
        Que ce soit en cas de diabète de type 1 dit insulinodépendant ou de type 2 dit insulinorésistant, dans les deux cas une alimentation équilibrée va permettre de mieux
        stabiliser la glycémie afin d’éviter les complications liées à cette maladie. N’hésitez pas à prendre rendez-vous avec votre diététicienne pour faire un bilan.
    </p>
    <h2>Le cholestérol</h2>
    <p>
        L’excès de cholestérol est très fréquent en France, et l’on estime qu’environs 12 millions de Français, soit 20 % de la population, aurait un taux de cholestérol trop élevé.
        Cet excès est à prendre en compte dans la prévention des maladies cardiovasculaires.
        N’hésitez pas à prendre rendez-vous avec votre diététicienne pour prendre les bons reflexes santé.
    </p>
    <h2>L’hypertension artérielle</h2>
    <p>
        L’hypertension est l’un des principaux facteurs de risque des maladies cardiaques, de l’insuffisance rénale et des accidents vasculaires cérébraux.
        Présentant peu de symptômes, elle apparaît généralement avec l’âge, souvent accompagnée d’un excès de poids. Une alimentation riche en sel et le manque d’activité physique
        peuvent intensifier cette hypertension. N’hésitez pas à prendre rendez-vous avec votre diététicienne pour faire le point sur vos habitudes alimentaires.
    </p>

{% endblock %}
