{% extends 'base.html.twig' %}

{% block title %}
    Idées recettes
{% endblock %}
{% block mainTitle %}
    Idées recettes
{% endblock %}
{% block description %}So nutri dieteticienne, idées recettes{% endblock %}
{% block keywords %}So nutri dieteticienne idées recettes{% endblock %}

{% block breadcrumbFirst %}<strong><a>> Idées recettes</a></strong>{% endblock %}
{% block content %}
    <img src="{{ asset("/images/recettes.jpg") }}" style="float:right;margin-top:-90px;" />

    <h2>Soupe de potimarron aux noisettes</h2>

    <div class="recette-infos">
        <strong>Préparation : 20 min</strong><br>
        <strong>Cuisson : 1h</strong><br>
        <strong>Pour 6 personnes :</strong><br>
        <ul>
            <li>1 potimarron</li>
            <li>1 pomme de terre</li>
            <li>1 gousse d’ail</li>
            <li>Quelques brins de ciboulette</li>
            <li>25 cl de crème fraîche</li>
            <li>1 c à s de noisettes</li>
            <li>30g de beurre</li>
            <li>Sel, poivre</li>
        </ul>
    </div>

    <div class="recette-description">
        Coupez le potimarron en gros morceaux et épluchez-le. Pelez et coupez la pomme de terre en morceaux. Pelez et hachez la gousse d’ail. Lavez et ciselez la ciboulette. Concassez grossièrement la moitié des noisettes.
        <br><br>
        Faites fondre le beurre dans une grande cocotte. Faites revenir l’ail, les morceaux de potimarron et de pomme de terre quelques minutes en remuant. Couvrez d’eau à fleur et laissez cuire à petits bouillons jusqu’à ce que le potimarron et la pomme de terre soient tendres.
        <br><br>
        Mixez la soupe finement avec la moitié des noisettes. Assaisonnez bien.
        <br><br>
        Faites griller le reste des noisettes dans une poêle chauffée à blanc. Mettez la soupe sur feu doux, ajoutez la crème fraîche et faites réchauffer doucement en remuant. Répartissez dans des bols, parsemez de noisettes grillées et de ciboulette puis servez chaud.
    </div>
    <div style="clear: both;"></div>
    <hr style="margin:30px auto;width: 80%">
    <h2>Tartine tomate chèvre et bacon</h2>

    <div class="recette-infos">
        <strong>Préparation : 10 min</strong><br>
        <strong>Cuisson : 10 min</strong><br>
        <strong>Pour 4 personnes :</strong><br>
        <ul>
            <li>4 grandes tartines</li>
            <li>1 rondin de chèvre frais</li>
            <li>3 belles tomates</li>
            <li>8 tranches de bacon coupées en deux</li>
            <li>Huile d’olive</li>
            <li>Basilic</li>
        </ul>
    </div>

    <div class="recette-description">
        Lavez et coupez les tomates en rondelles. Coupez le chèvre en rondelles également. Sur la tartine disposez les ingrédients en alternant : tomate, chèvre et bacon. Parsemez de basilic et d’un filet d’huile d’olive chaque tartine.
        <br><br>
        Mettre au four pendant 10 à 15 min à 200°C.
        <br><br>
        Servir chaud accompagné d’une salade verte.
    </div>
    <div style="clear: both;"></div>
    <hr style="margin:30px auto;width: 80%">
    <h2>Croque monsieur aux herbes</h2>

    <div class="recette-infos">
        <strong>Préparation : 5 min</strong><br>
        <strong>Cuisson : 5 min</strong><br>
        <strong>Pour 4 personnes :</strong><br>
        <ul>
            <li>2 tranches de jambon blanc coupées en deux</li>
            <li>8 tranches fines de gouda</li>
            <li>1 yaourt nature</li>
            <li>8 noix de margarine pour tartiner</li>
            <li>8 tranches de pain de mie complet</li>
            <li>1 c à s de fines herbes ciselées (persil, ciboulette..)</li>
            <li>1 c à c de moutarde</li>
            <li>1 c à s de vinaigre de cidre</li>
            <li>1 c à s d’huile d’olive</li>
            <li>Sel, poivre</li>
        </ul>
    </div>

    <div class="recette-description">
        Dans un bol, mélangez la moutarde, le vinaigre, les deux huiles, le yaourt, les herbes, sel et poivre.
        <br><br>
        Tartinez de margarine une face de chacune des 8 tranches de pain puis posez-les sur une grande assiette, coté margarine. Nappez l’autre face des tranches de pain de sauce. Pausez sur chacune une tranche de fromage puis une demie tranche de jambon. Recouvrez avec l’autre tranche de pain garnie de fromage uniquement.
        <br><br>
        Préchauffez l’appareil à croque-monsieur. Faites cuire 5 min environ les croques monsieur.
        <br><br>
        Servir chaud avec une salade verte.
    </div>
    <div style="clear: both;"></div>
    <hr style="margin:30px auto;width: 80%">
{% endblock %}
