{% extends 'base.html.twig' %}

{% block title %}
    Diététique à domicile
{% endblock %}
{% block mainTitle %}
    Accueil
{% endblock %}
{% block description %}Dieteticienne a domicile Douai. Présentation de la diététique à domicile et des valeurs accordées lors de la prise en charge{% endblock %}
{% block keywords %}Dieteticienne a domicile, Douai, sonutri, SoNutri, so nutri, So Nutri, So'Nutri, so'nutri, diététique, diététicien(ne) à domicile, diététicien(ne), consulation diététique, équilibre, régime alimentaire, coaching nutritionnel, coaching diététique, prise en charge diététique, perte de poids, sophie paulin, Sophie Paulin, Indice de masse corporelle{% endblock %}

{% block breadcrumbFirst %}<strong><a>> Accueil</a></strong>{% endblock %}
{% block content %}
    <h2>Vers un équilibre rempli de gourmandises</h2>

    <p>Diététicienne diplômée d’état depuis 2008, cela fait maintenant 5 ans que j’exerce dans le domaine du coaching nutritionnel. C’est donc tout naturellement que je propose depuis peu mes services  chez vous à votre domicile pour vous accompagner au mieux dans votre démarche de prévention santé.</p>

    <img src="{{ asset('/images/diethome.jpg') }}"  style="float: right;"/>
    <p>
        Aucun «Régime miracle» ne vous sera proposé mon but est d’aboutir à votre objectif sereinement et surtout de manière durable ! Laissons de côtés les régimes restrictifs qui ne vous apportent que de la frustration et vous font reprendre plus de kilos que ceux initialement perdus.
        Apprenons ensemble à rééquilibrer votre alimentation avec patience car changer ses habitudes alimentaires se fait de manière progressive.
    </p>

    <p>
        Retrouvons enfin les sensations qui vous poussent à la prise alimentaire. Ecouter son corps est bien une chose que nous oublions de faire alors que ce dernier nous apporte les clés de la réussite.
    </p>


    <blockquote>
        Alors soyons raisonnés, attentifs mais n’oublions pas d’être gourmands !<br>
        Telle est ma recette vers l’autonomie et la fin des régimes.
    </blockquote>

    <h3>Quand consulter un diététicien ?</h3>

    <ul>
        <li>Si vous désirez perdre du poids;</li>
        <li>Si vous souhaitez tout simplement équilibrer votre alimentation;</li>
        <li>Si vous êtes enceinte ou allaitante;</li>
        <li>Si vous devez suivre un régime alimentaire à cause d’une pathologie (dyslipidémie, HTA, diabète..);</li>
        <li>Si vous souffrez d’une intolérance ou d’une allergie alimentaire.</li>
    </ul>

{% endblock %}
