{% extends 'base.html.twig' %}

{% block title %}
    Prestations externes
{% endblock %}
{% block mainTitle %}
    Prestations externes
{% endblock %}
{% block description %}Description des activités proposées pour les collectivités, entreprises et clubs sportifs{% endblock %}
{% block keywords %}éveil sensoriel - classe de goût - éducation nutritionnelle - ateliers cuisine{% endblock %}

{% block breadcrumbFirst %}<strong><a>> Prestations externes</a></strong>{% endblock %}
{% block content %}

    <div>
        <div style="width:260px;float: left;text-align: center;"><img src="/images/ecoles.png"/></div>
        <div style="width: 62%;min-height: 320px;margin-left: 315px;">
            <h2>Ecoles primaires, maternelles
            Restaurants scolaires et CCAS</h2>
            <p>Pour les municipalités
            je propose sur devis :</p>
            <ul>
                <li>des classes de goût</li>
                <li>des ateliers d’éducation nutritionnelle</li>
                <li>de l’événementiel (ex : Fraîch’Attitude)</li>
                <li>des ateliers cuisine</li>
                <li>l’élaboration de menus</li>
            </ul>
        </div>
    </div>
    <div>
        <div style="width:260px;float: left;text-align: center;"><img src="/images/entreprises.png"/></div>
        <div style="width: 62%;min-height: 320px;margin-left: 315px;">
            <h2>Entreprises</h2>
            <p>Je propose sur devis :</p>
            <ul>
                <li>des ateliers d’éducation nutritionnelle</li>
                <li>de l’événementiel</li>
                <li>des ateliers cuisine</li>
                <li>l’élaboration de menus</li>
            </ul>
        </div>
    </div>
    <div>
        <div style="width:260px;float: left;text-align: center;"><img src="/images/clubsportif.png"/></div>
        <div style="width: 62%;min-height: 320px;margin-left: 315px;">
            <h2>Clubs sportifs</h2>
            <p>Je propose sur devis :</p>
            <ul>
                <li>du coaching diététique</li>
                <li>des ateliers d’éducation nutritionnelle</li>
                <li>de l’événementiel (ex : Journée de l’activité Physique et Sportive)</li>
            </ul>
        </div>
    </div>
{% endblock %}
