{% extends 'base.html.twig' %}

{% block title %}
    Qui suis-je ?
{% endblock %}
{% block mainTitle %}
    Qui suis-je ?
{% endblock %}
{% block description %}Détail de mon parcours professionnel et de ma vision de la diététique{% endblock %}
{% block keywords %}diététicienne diplômé d'état - DUT Génie Biologique option diététique - régimes{% endblock %}

{% block breadcrumbFirst %}<strong><a>> Qui suis-je ?</a></strong>{% endblock %}
{% block content %}
    <h2>Mon parcours</h2>

    <p>
        Diététicienne diplômée d’état titulaire d’un DUT Génie Biologique Option Diététique en 2008, j’exerce depuis plus de 5 ans dans le domaine du coaching nutritionnel.
        Ce que j’aime avant tout dans ce métier c’est tout simplement soutenir, encourager mes patients et leurs donner toutes les clés en main pour atteindre leurs objectifs.
    </p>
    <p>
        Mes différentes expériences m’ont également permises de travailler dans différentes municipalités comme ROUBAIX ou SAINT ANDRE LEZ LILLE, où les actions menées
        pour lutter contre le surpoids, l’obésité ainsi que la sédentarité chez les enfants sont de plus en plus présentes.
    </p>

    <h3>Focus sur le métier de diététicien</h3>
    <blockquote>« Que ton alimentation soit ta première médecine » Hippocrate</blockquote>
    <p><strong>Article L4371-1(Loi nº 2007-127 du 30 janvier 2007 art. 14 I Journal Officiel du 1er février 2007)</strong></p>
    <p>
        Est considérée comme exerçant la profession de diététicien toute personne qui, habituellement, dispense des conseils nutritionnels et, sur prescription médicale,
        participe à l'éducation et à la rééducation nutritionnelle des patients atteints de troubles du métabolisme ou de l'alimentation,
        par l'établissement d'un bilan diététique personnalisé et une éducation diététique adaptée.
        Les diététiciens contribuent à la définition, à l'évaluation et au contrôle de la qualité de l'alimentation servie en collectivité, ainsi qu'aux activités
        de prévention en santé publique relevant du champ de la nutrition.
    </p>
    <h3>Pourquoi je ne vous proposerez pas de régime ?</h3>
    <p>
        Les études scientifiques montrent que 90% des personnes ayant entrepris un régime amaigrissant reprennent la totalité de leur poids voir plus dans les 2 ans qui suivent
        la mise en place du régime.
        Pour quelles raisons ? Et bien une fois que la personne atteint l’objectif qu’elle s’était fixé après avoir fourni de nombreux efforts
        (privations, frustrations, augmentation très importante du niveau d’activité physique...) elle se sent satisfaite et pense en avoir fini avec les efforts à réaliser.
        Elle a tendance à reprendre ses anciennes habitudes alimentaires, c’est-à-dire à consommer des quantités qui la maintenaient autrefois au-dessus de son poids souhaité
        et qui vont donc l’y ramener progressivement.
    </p>

    <p>
        Je ne vous proposerez pas de régime car ils sont tout simplement signes d’échec et dangereux pour la santé. En effet, ils favorisent une perte de poids parfois
        en dessous du poids d’équilibre propre à chacun, entraînent des risques de développer des troubles du comportement alimentaire, des carences nutritionnelles ainsi
        qu’un effet yoyo assuré sans évoquer des conséquences psychologiques importantes.
    </p>

    <p>
        Alors comment faire pour perdre durablement du poids ? Et bien tout simplement en prenant son temps afin de réapprendre à écouter son propre corps
        (sensations de faim, rassasiement...), gérer ses émotions face à la nourriture, faire évoluer en douceur son comportement alimentaire et son niveau d’activité
        physique tout en étant accompagné au quotidien par un professionnel de santé.
    </p>


{% endblock %}
