{% extends 'base.html.twig' %}

{% block title %}
    Semainier
{% endblock %}
{% block mainTitle %}
    Semainier
{% endblock %}
{% block breadcrumbFirst %}<strong><a>> Semainier</a></strong>{% endblock %}
{% block content %}

    <div style="text-align: center;"><img src="/images/semainier-picture.png" /></div>

    <table id="semainier-table">
        <thead>
            <tr>
                <th></th>
                <th>Midi</th>
                <th>Soir</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Lundi</th>
                <td>Tagliatelles
                    fraîches au
                    brocolis et
                    bacon<br><br>
                    Fromage blanc
                    à la vanille<br>
                    Clémentines</td>
                <td>Carottes râpées<br><br>
                    Piperade à l’oeuf<br><br>
                    Fromage de
                    chèvre</td>
            </tr>
            <tr>
                <th>Mardi</th>
                <td>
                    Cabillaud en
                    papillote<br>
                    Jardinière de
                    légumes<br>
                    Riz<br><br>
                    Yaourt nature<br>
                    Pomme</td>
                <td>Croque Monsieur
                    aux herbes<br>
                    Salade verte<br><br>
                    Compote de fruits</td>
            </tr>
            <tr>
                <th>Mercredi</th>
                <td>Concombre
                    vinaigrette<br><br>
                    Spaghetti
                    bolognaises<br><br>
                    Faisselle<br>
                    Prunes</td>
                <td>Soupe de
                    Potimarron<br>
                    Maquereau à la
                    moutarde<br>
                    Pomme de terre
                    au four<br><br>
                    Fromage blanc</td>
            </tr>
            <tr>
                <th>Jeudi</th>
                <td>Lasagnes poireaux
                    saumon<br>
                    Salade verte<br><br>
                    Yaourt aux
                    fruits<br>
                    Pomelos</td>
                <td>Jambon blanc<br>
                    Pommes de terre<br>
                    Carottes vichy<br><br>
                    Clémentines</td>
            </tr>
            <tr>
                <th>Vendredi</th>
                <td>Poulet à la
                    moutarde<br>
                    tomates
                    procençales<br>
                    Riz<br><br>
                    Fromage blanc<br>
                    Banane</td>
                <td>Omellette aux
                    champignons<br>
                    Salade verte<br>
                    Pain complet<br><br>
                    Prunes</td>
            </tr>
            <tr>
                <th>Samedi</th>
                <td>Salade de tomates<br><br>
                    Rumsteak<br>
                    Pomme de terre
                    au four<br>
                    Salade verte<br><br>
                    Yaourt aux fruits<br>
                    Compote</td>
                <td>Soupe à la
                    courgette<br>
                    Tartines tomate
                    chèvre et bacon<br>
                    Poire<br>
                </td>
            </tr>
            <tr>
                <th>Dimanche</th>
                <td>Escalope de veau<br>
                    Haricots verts
                    à l’ail<br>
                    Ebly<br><br>
                    Far Breton<br>
                    </td>
                <td>Endives au
                    jambon<br><br>
                    Salade de fruits</td>
            </tr>
        </tbody>
    </table>

{% endblock %}
