{% extends 'base.html.twig' %}

{% block title %}
    Tarifs
{% endblock %}
{% block mainTitle %}
    Tarifs
{% endblock %}
{% block breadcrumbFirst %}<strong><a>> Tarifs</a></strong>{% endblock %}
{% block content %}
    <table id="tarifs-table">
        <thead>
            <tr>
                <th class="no-background no-border"></th>
                <th class="no-background no-border"><img src="/images/tarif-solo.jpg" /></th>
                <th class="no-background no-border"><img src="/images/tarif-couple.jpg" /></th>
            </tr>
            <tr>
                <th class="no-background no-border"></th>
                <th>Individuel</th>
                <th>Forfait couple</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>1ère consultation</th>
                <td>40 €</td>
                <td>75 €</td>
            </tr>
            <tr>
                <th>Consultations de suivi</th>
                <td>25 €</td>
                <td>45 €</td>
            </tr>
            <tr>
                <th>Bilans mensuels</th>
                <td>25 €</td>
                <td>45 €</td>
            </tr>
        </tbody>
    </table>

    <p style="color: #640433;text-align: center;">Des ateliers cuisine sont possibles ainsi qu’un accompagnement lors des courses
        alimentaires. N’hésitez pas à vous renseigner auprès de votre diététicienne.
    </p>

    <p style="text-align: center;"><a href="{{ path('prestations') }}" style="color:#000000;"><img src="/images/presta-link.jpg" alt="Prestations externes"><br>Uniquement sur devis</a></p>
    <p style="color: #640433;text-align: center;">Certaines mutuelles participent en partie au remboursement des visites, veuillez vous rapprocher auprès de votre mutuelle.</p>

{% endblock %}
