{% extends 'base.html.twig' %}

{% block title %}
    Témoignages patients
{% endblock %}
{% block mainTitle %}
    Témoignages patients
{% endblock %}
{% block description %}So nutri dieteticienne. Témoignages patients{% endblock %}
{% block keywords %}So nutri dieteticienne Témoignages patients{% endblock %}

{% block breadcrumbFirst %}<strong><a>> Témoignages patients</a></strong>{% endblock %}
{% block content %}

    <div style="text-align: center;"><img src="/images/temoignages-patients.png" /></div>
    <blockquote>Partagez votre aventure nutrition
    en compagnie de votre diététicienne</blockquote>

    <p style="text-align: center;color:#640433;width:60%;margin:auto;"><a href="https://www.facebook.com/profile.php?id=100009103544962" target="_blank"><img src="/images/facebook.png"><br><span>Retrouvez-moi sur Facebook pour de nouvelles
    astuces et conseils nutrition !</span></a></p>

    <hr>

    <h2>Je raconte mon histoire</h2>

    <div class="avis">
        <h3>Pamela</h3>

    <blockquote>Parfois je me demandais comment gérer mes
    Invitations, mes sorties car je sors beaucoup !!
    Et on a fini par établir des compromis avec
    Sophie. Du coup, objectif atteint en 2 mois :).</blockquote>
    </div>

    <div class="avis">
    <h3>Rose</h3>

    <blockquote>Parcours très simple et sans embuches pour
    moi ! Je suis vraiment contente du suivi. Une
    coach toute les semaines c’est le secret de la
    réussite :) Merci Sophie.</blockquote>
    </div>

    <div class="avis" style="margin-left:250px;">
    <h3>Jimmy</h3>

    <blockquote>Ce n’est pas évident de changer ses mauvaises
    habitudes alimentaires et franchement Sophie
    a su trouver les mots et les astuces pour que
    ça finisse par devenir naturel et bien agréable.</blockquote>
    </div>

    <div style="clear:both;"></div>
{% endblock %}
