{% extends 'base.html.twig' %}

{% block title %}
    Contact
{% endblock %}
{% block mainTitle %}
    Contact
{% endblock %}
{% block breadcrumbFirst %}<strong><a>> Contact</a></strong>{% endblock %}
{% block content %}
    <h2>Merci pour votre email, je vous recontacte dans les plus bref délais</h2>

{% endblock %}
