{% extends 'base.html.twig' %}

{% block title %}
    Contact
{% endblock %}
{% block mainTitle %}
    Contact
{% endblock %}
{% block breadcrumbFirst %}<strong><a>> Contact</a></strong>{% endblock %}
{% block content %}
    <div style="float:left;width:40%;">
        <img src="{{ asset('/images/contact.jpg') }}" />
        <p style="background:#cbca6b;padding: 15px 16px;margin-top: -5px;width: 211px;text-align: center;"><strong>Consultations uniquement sur rendez-vous</strong></p>
        <p style="width: 211px;text-align: center;color:#640433;"><strong>Tél : 06 71 41 79 43</strong></p>
        <p style="width: 211px;text-align: center;color:#640433;"><strong>Email : sonutri59@gmail.com</strong></p>
    </div>

    <h2>Merci pour votre email, je vous recontacte dans les plus bref délais</h2>

{% endblock %}


{% block contact %}
{% endblock %}