{% extends 'base.html.twig' %}

{% block title %}
    Zone d’intervention
{% endblock %}
{% block mainTitle %}
    Zone d’intervention
{% endblock %}
{% block breadcrumbFirst %}<strong><a>> Zone d’intervention</a></strong>{% endblock %}
{% block content %}

    <p style="text-align: center;">
        <img src="/images/carte-interventions.png" /><br>
        Je me déplace principalement sur le secteur du
        DOUAISIS. Cependant, si votre commune
        n’apparaît pas dans la liste ci-contre n’hésitez
        pas à me contacter.
        Une distance plus éloignée impliquera un prix
        de consultation un peu plus élevé.<br><br>
        <h2>Liste des communes où je me déplace</h2>
    </p>

    <img src="/images/voiture.png" style="float:right;"/>
    <ul>
        <li>AUBY</li>
        <li>BREBIERES</li>
        <li>CORBEHEM</li>
        <li>COURCHELETTES</li>
        <li>COURCELLES LES LENS</li>
        <li>CUINCY</li>
        <li>DOUAI</li>
        <li>DECHY</li>
        <li>ESQUERCHIN</li>
        <li>EVIN MALMAISON</li>
        <li>FERIN</li>
        <li>FLERS EN ESCREBIEUX</li>
        <li>HENIN BEAUMONT</li>
        <li>LAMBRES LES DOUAI</li>
        <li>LAUWIN PLANQUE</li>
        <li>LEFOREST</li>
        <li>RACHES</li>
        <li>RAIMBEAUCOURT</li>
        <li>ROOST WARENDIN</li>
        <li>SIN LE NOBLE</li>
        <li>WAZIERS</li>
    </ul>

{% endblock %}
