body {
    margin: auto;
    font-family: "Lato";
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}

ul {
    margin: 0;
    padding: 0 0 0 20px;
}

header {
    height: 220px;
    background: #640433;
    color: #e0dddd;
    margin-bottom: 10px;
}

header a {
    color: #e0dddd;
}
.no-background {
    background: none !important;
}

.no-border {
    border: none !important;
}


#logo {
    text-align: center;
    padding: 15px;
}

#logo img {
    max-width: 100px;
}

header #logo p {
    margin: 0;
    font-family: "Pompiere";
    font-size: 24px;
}

header nav {
    height: 50px;
    background: #ffffff;
    font-variant: small-caps;
    font-size: 22px;
    font-weight: 300;
    border-bottom: 1px solid #640433;
}

header nav ul {
    margin: auto;
    width: 1000px;
}

header nav ul li a:hover{
    font-weight: bolder;
}

header nav ul li a{
    margin: 0;
    padding: 11px 35px;
    color: #640433;
    display: block;
}

header nav ul li img {
    padding-top: 5px;
    max-width: 18px;
}

#breadcrumb {
    height: 30px;
    background: #ffffff;
    margin: auto;
    padding: 0;
    width: 90%;
}

#breadcrumb ul li{
    float: left;
    color: #640433;
    list-style-type: none;
    padding: 5px 3px;
    font-size: 12px;
}

#breadcrumb ul li a{
    color: #640433;
}

#breadcrumb ul:first-child{
    padding-top: 3px;
}

#breadcrumb ul:first-child img{
    max-height: 15px;
}

#contextual {
    width: 318px;
    float: right;
    margin-top: 50px;
}

#content {
    float: left;
    width: 66%;
    padding: 20px 15px 0 0;
    text-align: justify;
    font-size: 16px;
    font-family: "lora";
    line-height: 22px;
}

nav ul li {
    float: left;
    list-style-type: none;
}

nav ul li div:first-child {
    background: #e6e9e0;
}

#contextual nav  {
    float: left;
}

section#contextual .menu-label {
    color: #ffffff;
    font-family: Pompiere;
    font-size: 24px;
    font-variant: small-caps;
    padding: 10px 0px 0px 0px;
    width: 243px;
    height: 37px;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1.15px;
    float: left;
}

#contextual nav ul li img {
    max-height: 45px;
}
#contextual nav ul li#zones .menu-label {
    background: #cbca6b;
}
#contextual nav ul li#therapeutique .menu-label {
    background: #82a61f;
}
#contextual nav ul li#idees .menu-label {
    background: #f39c2a;
}
#contextual nav ul li#semainier .menu-label {
    background: #fc6520;
}
#contextual nav ul li#temoignages .menu-label{
    background: #c9653a;
}

#contextual nav ul li div.picto {
    background: #640433;
    width: 75px;
    height: 47px;
    float: left;
}

#contextual nav ul li {
    margin-top: 10px;
    width: 318px;
}

#contextual nav ul {
    padding: 0;
}

#main {
    width: 90%;
    display: block;
    margin: auto;
}

#portrait, #actu, #imc {
    float: left;
    margin-top: 15px;
    background: #640433;
    width: 314px;
    color: #ffffff;
    padding: 0 2px;
}

#actu, #imc {
    background: #82a61f;
}

#portrait h2, #actu h2, #imc h2{
    margin: 0;
    font-weight: 100;
    text-transform: uppercase;
    padding: 15px 0 0 15px;
}

#portrait h3, #actu h3, #imc h3 {
    margin: 0;
    font-weight: 400;
    padding: 0px 0 15px 15px;
}

#portrait img, #actu img, #imc img {
    max-width: 314px;
}

#imc h2 {
    margin-bottom: 5px;
}

#imc img {
    max-height: 184px;
    float: left;
    margin-left: 10px;
    max-width: 144px;
}

#imc input {
    border-radius: 4px;
    background: #ffffff;
    border: none;
    height: 18px;
    padding: 5px;
    font-size: 12px;
    margin-bottom: 10px;
    width: 86%;
}

#imc button {
    height: 30px;
    background: #82a61f;
    border: #fff 1px solid;
    border-radius: 4px;
    width: 92%;
    font-size: 13px;
    color: #fff;
}

footer {
    border-top: solid 1px #640433;
    margin-top: 30px;
    padding: 20px 0 0 0px;
    background: url("/images/fruits.png") no-repeat;
    background-position: bottom;
    height: 250px;
    font-size: 14px;
}

footer section {
    float: left;
}

footer section#logo-footer {
    margin-right: 150px;
    margin-left: 50px;
}

footer section#menu-first, footer section#menu-contextual {
    margin-right: 80px;
}

footer ul li {
    list-style-type: none;
}

footer a {
    color: #000000;
}

footer a:hover {
    text-decoration: underline;
}

footer #infos {
    width: 460px;
    margin: auto;
    float: none;
    text-align: center;
    padding-top: 50px;
}

footer #infos img {
    float: left;
    margin-left: 130px;
}

#facebook-text {
    padding-top: 6px;
    display: block;
    float: left;
    width: 50%;
    height: 40px;
}
footer #container {
    width: 90%;
    margin: auto;
}

hr#title-bar {
    width: 20px;
    color: #640433;
    float: left;
    margin: 0 0 0 0;
}

#content h1 {
    margin-bottom: 6px;
    color: #640433;
    text-transform: uppercase;
    font-family: "Lato";
}

#content h2 {
    color: #82a61f;
    font-family: Pompiere;
    font-size: 26px;
    font-weight: 500;
}

#content h3 {
    color: #fc6520;
    font-family: Pompiere;
    font-size: 26px;
    font-weight: 500;
}

#content blockquote {
    font-weight: bold;
    text-align: center;
    font-family: Pompiere;
    font-size: 22px;
    line-height: 30px;
}

#actions {
    text-align: center;
    margin-top: 50px;
}

#actions div {
    width: 432px;
    display: block;
    height: 52px;
    margin: auto;
}

#actions a {
    display: block;
    float: left;
}

#actions #devis {
    background: #ffffff;
    color: #640433;
    border: 1px solid #640433;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 16px;
    padding: 16px 26px;
    margin-right: 24px;
    font-weight: 200;
}

button:hover {
    cursor: pointer;
}

#actions #contact, form input[type="submit"] {
    background: #640433;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    text-transform: uppercase;
    font-size: 16px;
    padding: 16px 26px;
    font-weight: 200;
}

#semainier-table, #tarifs-table {
    text-align: center;
}

#semainier-table th, #tarifs-table th  {
    background: #e4e4e4;
    padding: 10px;
}

#semainier-table td {
    border: 2px solid #e4e4e4;
    padding: 16px;
}


#tarifs-table td, #tarifs-table th {
    border: 2px solid #e4e4e4;
    padding: 16px;
}

.avis {
    width: 45%;
    float: left;
    margin: 0 20px;
}

.avis blockquote {
    font-weight: normal !important;
}

.recette-infos {
    float:left;
    width: 200px;
    text-align: left;
    padding-right: 19px;
}

.recette-description {
    float: left;
    text-align: justify;
    width: 475px;
    border-left: 2px solid #cecece;
    padding-left: 10px;
}

form input {
    height: 20px;
    padding: 5px;
    width: 400px;
    border-radius: 5px;
}

form textarea {
    height: 150px;
    padding: 5px;
    width: 400px;
    border-radius: 5px;
}

form input[type="submit"] {
    height: 60px;
    cursor: pointer;
    width: 150px;
}